.navigation {
  a {
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
  }
  &-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
}
