.header {
  border-bottom: 3px solid black;
  margin: 0px;
}

.headerMain {
  display: grid;
  grid-template-rows: 70% 30%;
  align-items: center;
  justify-content: center;
}

.headerAside {
  position: relative;
  top: -8em;
  left: 2em;
  width: 6em;
  height: 3em;
  border: 1px solid black;
}
