.header {
  position: relative;
  margin: 0px;
  border-bottom: 3px solid black;

  &__main {
    display: grid;
    grid-template-rows: 70% 30%;
    align-items: center;
    justify-content: center;
  }

  &__select-lang {
    position: absolute;
    top: 2em;
    right: 2em;
    width: 8em;
    height: 3em;
  }
}
